---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Nav from '../components/Nav.astro';
import Header from '../components/Header.astro'
import AboutUs from '../components/AboutUs.astro';
---

<Layout title="Mobra">
  <main>
    <Nav></Nav>
		<Header></Header>
		<AboutUs></AboutUs>
  </main>
</Layout>