---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Header from '../layouts/Header.astro'
import AboutUs from '../layouts/AboutUs.astro';
import Testymonial from '../layouts/Testymonial.astro';
import Service from '../layouts/Service.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title="Mobra">
  <main>
		<Header></Header>
		<AboutUs></AboutUs>
    <Service></Service>
    <Testymonial></Testymonial>
    <Footer></Footer>
  </main>
</Layout>