---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Header from '../components/Header.astro'
import AboutUs from '../components/AboutUs.astro';
import Testymonial from '../layouts/Testymonial.astro';
import Service from '../layouts/Service.astro';
---

<Layout title="Mobra">
  <main>
    <Nav></Nav>
		<Header></Header>
		<AboutUs></AboutUs>
		<!-- <Services></Services> -->
     <Service></Service>
    <Testymonial></Testymonial>
  </main>
</Layout>