<nav class="flex justify-between items-center p-8 px-16 z-10 bg-transparent absolute w-full">
  <div class="text-2xl w-1/2">MOBRA</div>
  <div class="flex justify-between gap-24 w-1/2">
    <a href="">About</a>
    <a href="">Services</a>
    <a href="">Testymonials</a>
    <a href="">Contact</a>
  </div>
</nav>