---
---
<nav class="p-4 fixed top-0 left-0 w-full z-10 transition duration-300 bg-gradient-to-b from-[#030303] to-[#13161444]">
  <div class="flex justify-between w-full transition duration-500">
    <h1 class="text-3xl font-semibold transition duration-500">
      <a href="#" class="text-inherit">MOBRA</a>
    </h1>
    <div class="font-bold flex justify-around gap-24 items-center transition duration-500 opacity-100">
      <a href="#About">About</a>
      <a href="#Services">Services</a>
      <a href="#Testymonial">Testymonials</a>
      <a href="#Contact">Contact</a>
    </div>
  </div>
</nav>

<script lang="ts">
  const nav = document.querySelector('nav');
  const linksContainer = nav.querySelector('.flex.justify-around');
  const h1 = nav.querySelector('h1');

  let scrollPosition = 0;
  let maxScrollPosition = 200; // ajusta este valor para controlar la velocidad del movimiento

  window.addEventListener('scroll', () => {
    scrollPosition = window.scrollY;
    const centerX = window.innerWidth / 2;
    const h1Width = h1.offsetWidth;
    const translateX = centerX - (h1Width / 2);

    if (scrollPosition > maxScrollPosition) {
      linksContainer.classList.add('hidden');
      h1.classList.add('flex', 'justify-center', 'w-full');
      h1.style.transform = `translateX(${translateX}px)`;
    } else {
      linksContainer.classList.remove('hidden');
      h1.classList.remove('flex', 'justify-center', 'w-full');
      h1.style.transform = `translateX(0px)`;
    }
  });

  // Actualiza la posición del centro cuando se cambia el tamaño de la pantalla
  window.addEventListener('resize', () => {
    const centerX = window.innerWidth / 2;
    const h1Width = h1.offsetWidth;
    const translateX = centerX - (h1Width / 2);
    h1.style.transform = `translateX(${translateX}px)`;
  });
</script>