---
---
<nav class="p-4 fixed top-0 left-0 w-full z-10 transition duration-300 hover:bg-gradient-to-b from-[#131614] to-transparent">
  <div class="flex justify-between w-full transition duration-300">
    <h1 class="text-3xl font-semibold transition duration-500">
      <a href="#" class="text-inherit">MOBRA</a>
    </h1>
    <div class="font-bold flex justify-around gap-24 items-center transition duration-300 opacity-100">
      <a href="#About">About</a>
      <a href="#Services">Services</a>
      <a href="#Testymonial">Testymonials</a>
      <a href="#Contact">Contact</a>
    </div>
  </div>
</nav>

<script lang="ts">
  const nav = document.querySelector('nav');
  const linksContainer = nav.querySelector('.flex.justify-around');
  const h1 = nav.querySelector('h1');
  const navContainer = nav.querySelector('.flex.justify-between');

  window.addEventListener('scroll', () => {
    if (window.scrollY > 100) {
      linksContainer.classList.add('hidden');
      linksContainer.classList.remove('flex');
      navContainer.classList.add('justify-center');
      h1.classList.add('mx-auto');
    } else {
      linksContainer.classList.remove('hidden');
      linksContainer.classList.add('flex');
      navContainer.classList.remove('justify-center');
      h1.classList.remove('mx-auto');
    }
  });
</script>