---
import Titulo from "../components/Titulo.astro";
---

<section
  class="p-16 h-screen flex flex-col justify-start items-center relative"
>
  <Titulo
    title="About Us"
    subtitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, facilis?"
  />
  <div class="flex justify-center gap-4 mt-12">
    <div class="w-64 h-64 relative rounded-lg overflow-hidden group">
      <img
        src="/car2.webp"
        alt="car detail"
        class="w-full h-full object-cover scale-100 transition duration-300 ease-in-out group-hover:scale-110"
      />
      <div
        class="absolute bottom-0 left-0 w-full p-4 text-white translate-y-4 transition duration-300 ease-in-out group-hover:translate-y-0"
      >
        <h4 class="text-lg font-bold">Título del texto</h4>
        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, facilis?
        </p>
      </div>
    </div>
    <div class="w-64 h-64 relative rounded-lg overflow-hidden group">
      <img
        src="/car3.webp"
        alt="car detail"
        class="w-full h-full object-cover scale-100 transition duration-300 ease-in-out group-hover:scale-110"
      />
      <div
        class="absolute bottom-0 left-0 w-full p-4 text-white translate-y-4 transition duration-300 ease-in-out group-hover:translate-y-0"
      >
        <h4 class="text-lg font-bold">Título del texto</h4>
        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, facilis?
        </p>
      </div>
    </div>
    <div class="w-64 h-64 relative rounded-lg overflow-hidden group">
      <img
        src="/car1.webp"
        alt="car detail"
        class="w-full h-full object-cover scale-100 transition duration-300 ease-in-out group-hover:scale-110"
      />
      <div
        class="absolute bottom-0 left-0 w-full p-4 text-white translate-y-4 transition duration-300 ease-in-out group-hover:translate-y-0"
      >
        <h4 class="text-lg font-bold">Título del texto</h4>
        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, facilis?
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-12 w-1/2">
    <div class="text-white">
      <p class="text-lg">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt
        corporis debitis eos, adipisci perspiciatis exercitationem nam omnis
        similique fugiat ducimus perferendis voluptate magnam accusantium, a,
        consequatur quas? Accusantium, maxime? Rerum?
      </p>
    </div>
  </div>
</section>
