---
import Titulo from "../components/Titulo.astro";
---

<section
  class="p-16 h-screen flex flex-col justify-start items-center relative"
  id="About"
>
  <Titulo
    title="About Us"
    subtitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, facilis?"
  />
  <div class="container mx-auto p-6 max-w-7xl relative"> <!-- reduced padding -->
    <div class="flex flex-wrap justify-center gap-4"> <!-- reduced margin bottom and gap -->
      <div class="w-2/5 h-80 rounded-lg overflow-hidden group absolute left-0">
        <img
          src="/img1.jpg"
          alt="car detail"
          class="w-full h-full object-cover scale-100 transition duration-300 ease-in-out group-hover:scale-110"
        />
      </div>
      <div class="flex flex-wrap justify-center gap-0"> <!-- reduced gap -->
        <div class="w-4/6 h-36 relative rounded-lg overflow-hidden group">
          <img
            src="/img2.jpg"
            alt="car detail"
            class="w-full h-full object-cover scale-100 transition duration-300 ease-in-out group-hover:scale-110 hover:text"
            id="img2"
          />
        </div>
        <div class="w-4/6 h-36 relative rounded-lg overflow-hidden group">
          <img
            src="/img3.jpg"
            alt="car detail"
            class="w-full h-full object-cover scale-100 transition duration-300 ease-in-out group-hover:scale-110"
            id="img3"
          />
        </div>
      </div>
    </div>
    <div class="flex justify-end flex-grow">
      <p class="text-sm text-white mt-0 w-6/12 text-justify" id="paragraph"> 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt corporis debitis eos, adipisci perspiciatis exercitationem nam omnis similique fugiat ducimus perferendis voluptate magnam accusantium, a, consequatur quas? Accusantium, maxime? Rerum?
      </p>
    </div>
  </div>
</section>

<script>
  const img2 = document.getElementById('img2');
  const img3 = document.getElementById('img3');
  const paragraph = document.getElementById('paragraph');

  if (img2 && img3 && paragraph) {
    img2.addEventListener('mouseover', () => {
      paragraph.textContent = 'New text when hovering over the second image!';
    });

    img2.addEventListener('mouseout', () => {
      paragraph.textContent = 'paragraph';
    });

    img3.addEventListener('mouseover', () => {
      paragraph.textContent = 'New text when hovering over the third image!';
    });

    img3.addEventListener('mouseout', () => {
      paragraph.textContent = 'Original text';
    });
  }
</script>