---
import Titulo from "../components/Titulo.astro";
---

<section
class="p-16 pt-20 flex flex-col justify-start items-center relative"
  id="About"
>
  <Titulo
    title="About Us"
    subtitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, facilis?"
  />
  <div class="container mx-auto p-6 max-w-7xl relative pb-96"> 
    <div class="flex flex-wrap justify-center gap-4 absolute transition-opacity duration-500 visible" id="imgContainer">
      <div class="w-2/5 h-80 rounded-lg overflow-hidden group left-0">
        <img
          src="/img1.jpg"
          alt="car detail"
          class="w-full h-full object-cover scale-100 transition duration-300 ease-in-out group-hover:scale-110"
        />
      </div>
      <div class="flex flex-wrap justify-center gap-4"> 
        <div class="w-4/6 h-36 relative rounded-lg overflow-hidden group">
          <img
            src="/img2.jpg"
            alt="car detail"
            class="w-full h-full object-cover scale-100 transition duration-300 ease-in-out group-hover:scale-110 hover:text"
            id="img2"
          />
        </div>
        <div class="w-4/6 h-36 relative rounded-lg overflow-hidden group">
          <img
            src="/img3.jpg"
            alt="car detail"
            class="w-full h-full object-cover scale-100 transition duration-300 ease-in-out group-hover:scale-110"
            id="img3"
          />
        </div>
      </div>
      <div class="flex justify-center flex-grow">
        <p class="text-sm text-white mt-0 text-justify pt-8" id="paragraph"> 
          basta de Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, veritatis. Nostrum, totam. Quod mollitia, molestias necessitatibus unde eveniet corporis cum odit consectetur ex voluptatem aspernatur natus dolorum dolores optio! Quam.
        </p>
      </div>
    </div>
   
  </div>
</section>

<script lang="ts">
  const imgContainer = document.querySelector('#imgContainer');
  const images = imgContainer.querySelectorAll('img');
  const paragraph = document.querySelector('#paragraph');

  let imgContainerTop = imgContainer.offsetTop;
  let imgContainerHeight = imgContainer.offsetHeight;
  let windowHeight = window.innerHeight;

  window.addEventListener('scroll', () => {
    const scrollPosition = window.scrollY;
    const imgContainerVisible = scrollPosition + windowHeight >= imgContainerTop && scrollPosition <= imgContainerTop + imgContainerHeight;

    if (imgContainerVisible) {
      // Images are coming into view, fade in
      images.forEach((img) => {
        img.style.opacity = '0';
        img.style.transition = 'opacity 0.1s ease-in-out';
      });
      paragraph.style.opacity = '0';
      paragraph.style.transition = 'opacity 0.1s ease-in-out';
    } else {
      // Images are leaving the view, fade out
      images.forEach((img) => {
        img.style.opacity = '1';
        img.style.transition = 'opacity 0.1s ease-in-out';
      });
      paragraph.style.opacity = '1';
      paragraph.style.transition = 'opacity 0.1s ease-in-out';
    }
  });
</script>