---
import Test from "../components/Test.astro";
import Titulo from "../components/Titulo.astro";
---

<section
  class="p-16 flex flex-col justify-start items-center relative mb-16"
  id="Testymonial"
>
  <Titulo
    title="Testymonial"
    subtitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, facilis?"
  />

  <div
    class="flex flex-wrap justify-center gap-10 md:flex-wrap md:justify-center"
  >
    <Test
      autor="Pastor"
      testimonio="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled"
    />
    <Test
      autor="Pastor"
      testimonio="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled"
    />
    <Test
      autor="Pastor"
      testimonio="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled"
    />
    <Test
      autor="Pastor"
      testimonio="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled"
    />
  </div>
</section>